@tailwind base;
@tailwind components;
@tailwind utilities;


html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-thumb{
    background:linear-gradient(transparent 5%,coral);
    border-radius: 10px;
}